body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.main-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    margin: 0 auto;
    background-color: #62000b;
    color: white;
    padding: 2rem;
    text-align: center;
}

header p {
    text-align: justify;
}

header a {
    text-align: center;
    color: #FFF;
}

header a:hover {
    text-decoration: underline;
    color: #ffcccc;
}

section {
    padding: 2rem;
}

.project {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #871522;
    border-radius: 5px;
}

.project a {
    color: #1f0004;
    text-decoration: none;
}

footer {
    color: #f4f4f4;
    background-color: #AC3442;
    text-align: center;
    padding: 1rem;
}